table{
	position: relative;	
	margin: auto;
	width: 90%;
	border-collapse: collapse;
	border: none;
	margin-top: 45px;
	border-radius: 4px;
	background-color: #eee;
	box-shadow: 0px 2px 2px 0px rgba(10,10,10,0.16);
}

th, td{
	border: none;
	height: 33px;
	font-size: 9pt;
	color: #555;
	text-align: center;
}

th{
	background-color: rgba(10,10,10,0.1);
	height: 40px;
	text-transform: uppercase;
	font-size: 8pt;
	color: #525252;
	font-weight: 500;
	letter-spacing: 1px;
}