body{
	text-align: center;
}

.reg-inp{
	position: relative;
	top: 60px;
	margin-top: 9px;
	margin-left: 4px;
	margin-right: 4px;
	width: 240px;
}

#reg-user{
	margin-bottom: 15px;
}

#reg-cnt{
	width: 263px;
	height: 36px;
	cursor: pointer;
	background-color: #eee;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}

#reg-go{
	display: block;
	position: relative;
	top: 60px;
	margin: auto;
	margin-top: 45px;
	margin-bottom: 90px;
}

footer{
	position: fixed;
	height: 60px;
	line-height: 60px;
	width: 100%;
	text-align: center;
	bottom: 0px;
	left: 0px;
	background-color: inherit;
	font-size: 9pt;
	font-weight: 600;
}

footer a{
	color: #5AA5F9;
	transition: all 0.3s;
}

footer a:hover{
	color: #1562b7;
}